@model RocketWorkflow.Models.ViewModels.MainViewModel




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project Index</title>
</head>
<body>
    <hr />
    <button class=" btn btn-info">
        @Html.ActionLink("Create New", "Create")
    </button>
    <hr />

    <table class="table">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Job.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.AssignedEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Fee)
            </th>
            
       
        </tr>

        @foreach (var item in Model.JobsList)
        {
            <tr>
                <th>
                    @Html.ActionLink(item.JobName, "ProjectView", new { id = item.JobId })
                </th>
                <td>
                    @Html.DisplayFor(model => model.Client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedEmployee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.JobId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.JobId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.JobId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
