@model IEnumerable<RocketWorkflow.Models.Job>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.ApplicationUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompleteTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsArchived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SomeProp)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ApplicationUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SomeProp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.JobId }) |
                @Html.ActionLink("Details", "Details", new { id=item.JobId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.JobId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
