
@model RocketWorkflow.Models.ViewModels.MainViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Task.AssignedEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.CompleteTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.IsComplete)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.TasksList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedEmployee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompleteTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsComplete)
                </td>
                <td>
                    <hr />
                    <button class="btn btn-default">
                        @Html.ActionLink("Create New", "Create")
                    </button>
                    <button class=" btn btn-default">
                        @Html.ActionLink("Create New", "Create")
                    </button>
                    <hr />
                    @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TaskId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
