!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrapSlate.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">@Html.ActionLink("RocketWorkflow", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-success">
                        <a class="nav-item">@Html.ActionLink("Client Portal", "ClientPortal", "Clients", new { area = "  " }, new { @class = "navbar-text" })</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-success">
                        <a class="nav-item">@Html.ActionLink("Client Portal", "ClientPortal", "Clients", new { area = "  " }, new { @class = "navbar-text" })</a>
                    </button>
                </li>


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>